.product-view .product-shop .product-name h1 {
    font-size: 25px;
    font-family: Tahoma;
}
.add-to-cart.left-side .button {
    background-color: #190a51;
    float: right;
    height: 35px;
    min-width: 100px;
    line-height: 35px;
}
.add-to-cart .qty-wrapper .qty {
    margin-right: -3px;
    margin-left: -3px;
}
.add-to-cart.left-side .qty-wrapper {
    line-height: 50px;
    margin: 0px 20px;
    width: 85%;
}
.add-to-cart.left-side {
    width: 100%;
}
.product-view .add-to-box{
    width: 60%;
}
input.qty {
    width: 5em !important;
    height: 50px; 
}
.qty-wrapper label{
    font-size: 20px;
    font-weight: bold;
}
#btn1{
        cursor: pointer;
    height: 50px;
    color: #fff;
    font-size: 25px;
    width: 30px;
    border-radius: 10px 0px 0px 10px;
    background-color: #e97812;
    border-width: 0px;
}
#btn2{
        cursor: pointer;
    color: #fff;
    font-size: 25px;
    height: 50px;
    width: 30px;
    border-radius: 0px 10px 10px 0px;
    background-color: #e97812;
    border-width: 0px;
}
#btn3{ 
    border-radius: 10px 10px 10px 10px;
    margin: 8px -5px;
}
.block-right{ 
    background-color: #e97812;
    height: 150px;
    color: #fff;
    font-size: 25px;
    line-height: 35px;
    border-radius: 5px;
}
.block-right input{
        cursor: pointer;
    background-color: #190a51;
    color: #fff;
    height: 35px;
    width: 50%;
    text-align: center;
    border-radius: 10px;
    border-width: 0px;
}
.blockright{
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    height: 500px;
	background-image:url(../../../../../../themeultimo/anhnen.png);
}
.block-title
{    padding-top: 23px;
    border-bottom: double #fff;
    font-size: 25px;
    height: 8%;
}
.blocktitle strong{
    background-color: #e97812;
    color: #fff;
    border-radius: 5px 5px 0px 0px;
}
 .block_content{
    border-bottom: 1px solid #fff;
    height: 17.3%;
    float: left;
    width: 80%;
    margin: 0px 20px;
}
.block_content h5{
    color: #e97812; 
    padding-left: 35%;
    font-family: tahoma;
}
.block_content p{
    padding-left: 35%;
    font-size: 12px;
}
.block .block-content {
        padding: 30px 0;
    background-color: #fff;
    width: 100%;
}
.availability {
    color: #000;
    font-size: 15px;
    float: none;
    font-weight: bold;
}
.itemslider {
    margin-bottom:0px;
}
.price-inc{
    color:  #e97812;
    font-weight: bold;
    font-size: 35px;
}

.ratings, .no-rating {
    line-height: 15px;
    float: right;
   margin: 0px;
}
.product-view .product-shop .price-box .regular-price .price{
    font-size: 2.6666em;
    color: #e97812;
    font-weight: bold;
}
.ratings .rating-links {
    display: none;
 } 
.availability  span{
    color: #e97812;
    text-transform: uppercase;
 }
 .page, .footer-bottom-container, .container , .footer-top-container{
    background-color: #eaeaea;
}
.add-to-box{
    border-radius:10px;
    background-color: #fff;
}
.topproducts_containter{
    border-radius: 5px;
    background-color: #fff;
}
.topsellerTitle {
    font-size: 15px;
    float: left;
    font-weight: bold;
}

.show-text{
    line-height: 40px;
    border-top: 1px solid #e97812;
    padding: 20px;
} 
.show-text img{
    padding: 15px;
}
.btn-crossel button{
        cursor: pointer;
     background-color: #190a51;
     color: #fff;
    width: 80%;
    height: 32px;
    border-radius: 10px;
    border-width: 0px;
}
.price-box{
    font-weight: bold;
    font-size: 25px;
}
.product-view .product-shop {
    padding: 10px 0px;
}
.btn-crossel{
    border-top: 1px solid #e5e5e5;
    padding-top: 20px;
    padding-bottom: 20px;
}
.btn button
     {
            cursor: pointer;
    background-color: #190a51;
     color: #fff;
    width: 33%;
    height: 32px;
    border-radius: 7px;
    border-width: 0px;
}
.product-view .section-title {
    border-bottom: none;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    font-family: tahoma;
}
.blocktitle
{
    height: 23px;
    background-color: #eaeaea;
    font-size: 25px;
}
.extrahint-wrapper .product-pricing {
    display: none;
}
.product{
    text-align: center;
    float: left;
    padding-left: 18px;
    border-right: 1px solid #c7c7c7;
}
.mini-products-list .product-details {
    margin: 15px 15px;
    line-height: 25px;
}
.product img {
    border: 1px solid #e97812;
    width: 75%;
    height: 100%;
}
.productimage img {
    width: 75%;
    margin: -50px 0px;
}
.product-details a{
    height: 50px;
}
.trong{
    height:20px;
}
.img, .price{
    margin-bottom: 5px;
    text-align: center;
}
.name{
    margin-bottom: 5px;
    text-align: center;
    font-weight: bold;
}
.product-view .product-type-data > .price-box {
    border-top-style: none;
 } 
.border-top
{
    border-top: 1px solid #e97812;
}
.contact
{
    margin: 50px 0px;
    background-color: #333333;
    height: 135px;
}
.section {
    display: none;
}
.contact-2{
    border-radius: 10px;
    float: left;
    color: #fff;
    padding-left: 25px;
}
.name-product{
    margin: 20px 0px;
    float: left;
    font-size: 25px;
}
.contact-2 p{
    font-size: 15px;
}
.contact-2 span{
    float: left;
    margin: 20px 55px;
}
.contact-2 a{
    color: #fff;
}
.contact-img{float: right;
margin: 10px;
}
.price_inc {
    color: #e97812;
    font-size: 35px;
    font-weight: bold;
    float: left;
    margin: 25px 0px;
}
.atribute_manufacture
{
     font-size: 15px;
    font-weight: bold;
}

.block {
    border-radius: 10px;
    background-color: #fff;
}
.slider-arrows1 .owl-controls .owl-buttons .owl-next {
    margin: -200px 240px;
    background-color: #fff;
    color: #e97812;
}
.slider-arrows1 .owl-controls .owl-buttons .owl-prev {
    margin: -200px 0px;
    background-color: #fff;
    color: #e97812;
}
.slider-arrows1-pos-top-right .owl-controls .owl-buttons {
    position: relative;
}
.qty-wrapper2{
    width: 38%;
    float: left;
    padding-left: 30px;
}
#qty2 {
    width: 4em !important;
    height: 30px;
    margin: -6px;
}
#btn5
{     cursor: pointer;
    height: 30px;
    color: #fff;
    font-size: 15px;
    width: 20px;
    border-radius: 5px 0px 0px 5px;
    background-color: #e97812;
    border-width: 0px;
}
#btn4
{     cursor: pointer;
    color: #fff;
    font-size: 15px;
    height: 30px;
    width: 20px;
    border-radius: 0px 5px 5px 0px;
    background-color: #e97812;
    border-width: 0px;
}
.arrow-down {
        border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #e97812;
    position: absolute;
    margin: 5px 90px;
}
.custom-sidebar-right .inner {
    padding-left: 0px;
}
.block-related-thumbnails .product-details  {
    margin: 15px 15px;
    line-height: 25px;
}
.gen-tabs .tabs a.current {
    background-color: #e97812;
    color: #fff;
}
@media only screen and (min-width: 767px) and (max-width: 959px) {
.grid12-3 {
    display: none;

}
.product-view .product-img-column {
    width: 50%;
}
.product-view .product-shop {
    float: right;
}
.product-view .add-to-box {
    width: 100%;
}
.show-text{
        width: 125%;
}
.border-top {
    width: 133%;
}
.contact-img{
    display: none;
}
.tabs-panels{
    width: 133%;
}
.product{
    padding-left: 50px;
    border-right: none;
}
}

@media only screen and (max-width: 766px){
    #btn3 {
    width: 50px;
}
    .product-view .add-to-box {
    width: 100%;
}
    .product {
        width: 49%;
    border-right: none;
    padding-left: 0px;
}
.contact {
    display: none;}

.qty-wrapper2 {
    width: 76%;
    padding-left: 16px;
}
#qty2 {
    width: 3em !important;
}
.product-details a {
    font-size: 10px;
}
.block-related-thumbnails .product-details {
    line-height: 15px;
}
.atribute_manufacture {
    font-size: 14px;
}