<?php
/**
 * Product view template
 *
 * @see Mage_Catalog_Block_Product_View
 * @see Mage_Review_Block_Product_View
 */
?>
<?php
    $_helper = $this->helper('catalog/output');
    $_product = $this->getProduct();
    $theme = $this->helper('ultimo');
    $helperThis = $this->helper('ultimo/template_catalog_product_view');
    $helperSnippets = $this->helper('ultimo/rsnippets');

    //CSS classes based on product type
    $productTypeId = $_product->getTypeId();
    $productTypeClasses = '';
    if ($productTypeId === 'grouped') {
        $productTypeClasses .= ' is-type-grouped';
    }

    //
    $shortDescription = $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description');

    //Rich snippets
    $useRichSnippets = ($helperSnippets->isEnabledOnProductPage() && $productTypeId !== 'grouped');
    $priceProperties = '';
    if ($useRichSnippets)
    {
        $priceProperties = $helperSnippets->getPriceProperties($_product); //Has to be called before getOfferItemscope
    }

    //Get grid classes for product page sections
    $grid = $helperThis->getGridClasses();

    //Product collaterals
    //--------------------------------------------------------------
    $section = array();
    $relatedProductsHtml = '';
    $upsellProductsHtml = '';
    
    //Related products.
    //If related products not assigned to collateral data container.
    if (!$theme->getCfg('product_page/collateral_related'))
    {
        $replaceRelated = $theme->getCfg('product_page/replace_related');
        if ($replaceRelated == 1) //don't replace with static block
        {
            if ($tmpHtml = trim($this->getChildHtml('related_products_wrapper')))
                $relatedProductsHtml = $tmpHtml;
            //$relatedProductsHtml = trim($this->getChildHtml('related_products_wrapper'));
        }
        elseif ($replaceRelated == 2) //if related is empty, replace with static block
        {
            if ($tmpHtml = trim($this->getChildHtml('related_products_wrapper')))
                $relatedProductsHtml = $tmpHtml;
            else //related empty
                if ($tmpHtml = $this->getChildHtml('block_product_replace_related'))
                    $relatedProductsHtml = '<div class="block_product_replace_related">'. $tmpHtml .'</div>';
        }
        elseif ($replaceRelated == 3) //replace with static block
        {
            if ($tmpHtml = $this->getChildHtml('block_product_replace_related'))
                $relatedProductsHtml = '<div class="block_product_replace_related">'. $tmpHtml .'</div>';
        }
    }

    //Up-sell products.
    //If up-sell products not assigned to collateral data container.
    if (!$theme->getCfg('product_page/collateral_upsell'))
    {
        $replaceUpsell = $theme->getCfg('product_page/replace_upsell');
        if ($replaceUpsell == 1) //don't replace with static block
        {
            if ($tmpHtml = trim($this->getChildHtml('upsell_products_wrapper')))
                $upsellProductsHtml = $tmpHtml;
            //$upsellProductsHtml = $this->getChildHtml('upsell_products_wrapper');
        }
        elseif ($replaceUpsell == 2) //if upsell is empty, replace with static block
        {
            if ($tmpHtml = trim($this->getChildHtml('upsell_products_wrapper')))
                $upsellProductsHtml = $tmpHtml;
            else //upsell empty
                if ($tmpHtml = $this->getChildHtml('block_product_replace_upsell'))
                    $upsellProductsHtml = '<div class="block_product_replace_upsell">'. $tmpHtml .'</div>';
        }
        elseif ($replaceUpsell == 3) //replace with static block
        {
            if ($tmpHtml = $this->getChildHtml('block_product_replace_upsell'))
                $upsellProductsHtml = '<div class="block_product_replace_upsell">'. $tmpHtml .'</div>';
        }
    }

    //Assign blocks to selected positio
    $p = array();

    //Related products
    $position = $theme->getCfg('product_page/related_position');
    if (isset($p[$position]))
        $p[$position] = $p[$position] . $relatedProductsHtml;
    else
        $p[$position] = $relatedProductsHtml;

    //Up-sell products
    $position = $theme->getCfg('product_page/upsell_position');
    if (isset($p[$position]))
        $p[$position] = $p[$position] . $upsellProductsHtml;
    else
        $p[$position] = $upsellProductsHtml;

    //Product collateral data (displayed as tabs or stacked blocks)
    $position = $theme->getCfg('product_page/collateral_position');
    if (isset($p[$position]))
        $p[$position] = $p[$position] . $this->getChildHtml('productCollaterals');
    else
        $p[$position] = $this->getChildHtml('productCollaterals');
?>

<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="product-view nested-container" <?php if ($useRichSnippets) echo $helperSnippets->getProductItemscope(); ?>>

    <form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>

        <?php echo $this->getBlockHtml('formkey'); ?>
        <div class="no-display">
            <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
            <input type="hidden" name="related_product" id="related-products-field" value="" />
        </div>

        <div class="product-img-column <?php echo $grid['imgCol']; ?>">

            <?php echo $this->getChildHtml('media') ?>
            <?php echo $this->helper('ultimo/labels')->getLabels($_product); //Product labels ?>
            <?php echo $this->getChildHtml('container_product_image_1'); ?>

        </div>
        
        <div class="product-primary-column product-shop <?php echo $grid['primCol']; ?>">

            <div class="product-name">
                <h1 itemprop="name"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
            </div>

            <?php echo $this->getChildHtml('container_product_primary_1'); ?>

            <?php if (isset($p['primCol_1'])) echo $p['primCol_1']; ?>

            <?php if ($sku = $_product->getSku()): ?>
                <?php if ($theme->getCfg('product_page/sku')): ?>
                    <div class="sku">
                        <span class="label"><?php echo $this->__('SKU'); ?>: </span>
                        <span class="value"><?php echo $sku; ?></span>
                    </div>

                <?php endif; ?>
                <?php if ($useRichSnippets): ?><meta itemprop="productID" content="sku:<?php echo $sku; ?>" /><?php endif; ?>
            <?php endif; ?>

            <?php echo $this->getChildHtml('alert_urls'); //alerts ?>
            
            <?php if ($extrahint_html = $this->getChildHtml('extrahint')): //qty increments ?>
                <div class="extrahint-wrapper"><?php echo $extrahint_html; ?></div>
            <?php endif; ?>

            <div <?php if ($useRichSnippets) echo $helperSnippets->getOfferItemscope(); ?>>
                <div class="product-type-data<?php echo $productTypeClasses; ?>">
               <?php echo $this->getReviewsSummaryHtml($_product, false, true); //reviews ?>
                <?php echo $this->getChildHtml('product_type_data'); ?></div>
                <?php echo $this->getTierPriceHtml(); ?>
                <?php echo $priceProperties; ?>


            </div> <?php //end: offers ?>

<p class="atribute_manufacture"><?php echo $_product->getAttributeText('manufacturer');?></p>
            <?php if (!$this->hasOptions()): //add to cart when no options (e.g. simple products) ?>

                <?php if($_product->isSaleable()): ?>


                    <div class="add-to-box">
                        <?php echo $this->getChildHtml('addtocart') ?>
                    </div>
                <?php endif; ?>
                <?php echo $this->getChildHtml('extra_buttons') ?>
            <?php endif; ?>

            <?php if ($_product->isSaleable() && $this->hasOptions()): ?>
                <?php if ($container1_html = $this->getChildChildHtml('container1', '', true, true)): ?>
                    <div class="container1-wrapper"><?php echo $container1_html; ?></div>
                <?php endif; ?>
            <?php endif;?>

            <?php if (isset($p['primCol_2'])) echo $p['primCol_2']; ?>

            <?php echo $this->getChildHtml('other'); ?>

            <?php echo $this->getChildHtml('container_product_primary_2'); ?>

        </div> <!-- end: product-shop -->
        
        <?php if (isset($grid['secCol'])): //(!empty($secondaryColUnits)): ?>


            <div class="product-secondary-column <?php echo $grid['secCol']; ?> custom-sidebar-right">
                <div class="inner">
    <!-- slide  CrosssSell Products -->
<?php
    $_crossSellProducts = $_product->getCrossSellProducts();
    $theme = $this->helper('ultimo');
    $helpImg = $this->helper('infortis/image');
    $sliderClasses = '';
    $gridClasses = '';
    
    $sliderId = "itemslider-related";
    $isResponsive = true;
    $breakpoints = $theme->getCfg('product_page/related_breakpoints');
    if (empty($breakpoints)) 
    {
        $breakpoints = '[0, 1], [320, 2], [480, 3], [768, 1]'; 
    }
    $pagination = false;
    $imgWidth = 196;
    $imgHeight = 196;
        if ($theme->getCfg('category/aspect_ratio'))
        {
            $imgHeight = 0; 
        }
    $timeout = intval($theme->getCfg('product_page/related_timeout'));
    $move = 0;
    $loop = $theme->getCfg('product_slider/loop');
    $speed = intval($theme->getCfg('product_slider/speed'));
    $autoSpeed = intval($theme->getCfg('product_slider/auto_speed'));
    $pause = $theme->getCfg('product_slider/pause');
    $lazy = $theme->getCfg('product_slider/lazy');

    if ($_collectionSize == 1)
    {
        $sliderClasses .= ' single-item';
    }
    if ($theme->getCfg('category_grid/centered'))
    {
        $gridClasses .= ' centered';
    }
?>
<div class="block block-related block-related-slider">
    <h3 class="section-title padding-right"><?php echo $this->__('MEEST VERKOCHT'); ?></h3>
    <div class="itemslider-wrapper itemslider-related-wrapper slider-arrows1 slider-arrows1-pos-top-right slider-pagination1">
        <div id="<?php echo $sliderId; ?>" class="itemslider <?php if($sliderClasses) echo $sliderClasses; ?> products-grid<?php if($gridClasses) echo $gridClasses; ?>">
        <?php foreach ($_crossSellProducts as $_item): ?>
                <?php $_item = Mage::getModel('catalog/product')->load($_item->getId()); ?>

                <div class="col-sx-12 col-sm-2 items">
                    <div class="img">
                        <a class="productimage" href="<?php echo $_item->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_item->getName()) ?>">
                            <img src="<?php echo $this->helper('catalog/image')->init($_item, 'small_image')->resize(100, 150); ?>" alt="<?php echo $this->htmlEscape($_item->getName()) ?>" />
                        </a>
                    </div>
                    <div class="name">
                        <a href="<?php echo $_item->getProductUrl() ?>">
                                <?php $str=$this->htmlEscape($_item->getName());
                                 echo substr($str,0,23)."..."; 
                                ?>
                        </a>
                    </div>
                    <div class="price">
                          <?php echo '€ '.number_format($_item->getPrice(),2); ?> (incl. VAT)
                    </div>   
                      <div class="btn-crossel"><center>
                         <a href="<?php echo $_item->getProductUrl() ?>"> <button type="button"  ><span><span>Add to Cart</span></span></button>
</a></center>
                    </div>     
               </div>
         
            <?php endforeach; ?>
            </div>
        </div> <!-- end: itemslider -->
           
    </div> <!-- end: itemslider-wrapper -->

    <script type="text/javascript">
    //<![CDATA[
        jQuery(function($) {

            var owl = $('#<?php echo $sliderId; ?>');
            owl.owlCarousel({

            <?php if ($lazy): ?>
                lazyLoad: true,
            <?php endif; ?>

            <?php if(!$isResponsive): ?>
                responsive: false,
                items: <?php echo $showItems; ?>,
            <?php else: ?>
                itemsCustom: [ <?php echo $breakpoints; ?> ],
                responsiveRefreshRate: 50,
            <?php endif; ?>

            <?php if ($speed): ?>
                slideSpeed: <?php echo $speed; ?>,
            <?php endif; ?>

            <?php if ($autoSpeed): ?>
                paginationSpeed: <?php echo $autoSpeed; ?>,
            <?php endif; ?>

            <?php if ($move !== 1): ?>
                scrollPerPage: true,
            <?php endif; ?>

            <?php if ($timeout): ?>
                autoPlay: <?php echo $timeout; ?>,
            <?php endif; ?>

            <?php if ($pause): ?>
                stopOnHover: true,
            <?php endif; ?>

            <?php if ($loop): ?>
                rewindNav: true,
                rewindSpeed: 600,
            <?php else: ?>
                rewindNav: false,
            <?php endif; ?>

            <?php if ($pagination): ?>
                pagination: true,
            <?php else: ?>
                pagination: false,
            <?php endif; ?>

                navigation: true,
                navigationText: false

            }); //end: owl

        });
    //]]>
    </script>

  

</div> <!-- end: block -->
                    <?php echo $this->getChildHtml('container_product_secondary_1'); ?>

                    

                    <?php if (isset($p['secCol_2'])) echo $p['secCol_2']; ?>

                    <?php echo $this->getChildHtml('container_product_secondary_2'); ?>

                    <?php if (isset($p['secCol_3'])) echo $p['secCol_3']; ?>

                </div>
            </div> <!-- end: product-secondary-column -->

        <?php endif; ?>

        <?php if ($_product->isSaleable() && $this->hasOptions()): ?>
            <?php if ($container2_html = $this->getChildChildHtml('container2', '', true, true)): ?>
                <div class="box-additional <?php echo $grid['cont2Col']; ?>">
                    <div class="container2-wrapper"><?php echo $container2_html; ?></div>
                </div>
            <?php endif; ?>
        <?php endif; ?>

    </form>

    <script type="text/javascript">
    //<![CDATA[
        var productAddToCartForm = new VarienForm('product_addtocart_form');
        productAddToCartForm.submit = function(button, url) {
            
            if (this.validator.validate()) {
                var form = this.form;
                var oldUrl = form.action;

                if (url) {
                   form.action = url;
                }
                var e = null;
                try {
                    this.form.submit();
                } catch (e) {
                }
                this.form.action = oldUrl;
                if (e) {
                    throw e;
                }

                if (button && button != 'undefined') {
                    button.disabled = true;
                }
              
            }
        }.bind(productAddToCartForm);

        productAddToCartForm.submitLight = function(button, url){
            if(this.validator) {
                var nv = Validation.methods;
                delete Validation.methods['required-entry'];
                delete Validation.methods['validate-one-required'];
                delete Validation.methods['validate-one-required-by-name'];
                if (this.validator.validate()) {
                    if (url) {
                        this.form.action = url;
                    }
                    this.form.submit();
                }
                Object.extend(Validation.methods, nv);
            }
        }.bind(productAddToCartForm);
    //]]>
    </script>

    <?php //Lower primary column ?>
    <div class="box-additional <?php echo $grid['lowerPrimCol']; ?>">

  <!-- show description -->
        <div class="show-text"><p><img src="<?php echo $this->getSkinUrl('images/icontron.png') ?>"/>Geen minimale afnamehoeveelheid.</p>
<p><img src="<?php echo $this->getSkinUrl('images/icontron.png') ?>"/>Alle hulpstukken op voorraad.</p>
<p><img src="<?php echo $this->getSkinUrl('images/icontron.png') ?>"/>Behoort tot een van de meest toegepaste dakpannen van Nederland door zijn populaire uitstraling.</p>
<p><img src="<?php echo $this->getSkinUrl('images/icontron.png') ?>"/>Geleverd met 30 jaar fabrieksgarantie!</p>
<p><img src="<?php echo $this->getSkinUrl('images/icontron.png') ?>"/>Partijen met minimale nuance voor authentieke uitstraling</p>
</div>
            <!-- contact -->
            <div class="border-top">
            <div class="contact" >
            <div class="contact-2">
             <a class="name-product" href="<?php echo $_item->getProductUrl() ?>">
                               Vragen over <?php echo $this->htmlEscape($_item->getName()) ?> ?
                        </a>
                        <p>Please contact us. Our roofing specialists are ready to assist you - </p>
                        <span><img src="http://127.0.0.1/magento2/media/wysiwyg/infortis/ultimo/icondt.png"    /> 085 2020 520 </span><span><img src="http://127.0.0.1/magento2/media/wysiwyg/infortis/ultimo/iconemail.png"   /> <a href="#">Email our experts</a></span><span><img src="http://127.0.0.1/magento2/media/wysiwyg/infortis/ultimo/iconchat.png"   /> <a href="#">Chat with us</a></span>
            
            </div>
              <div class="contact-img"><img src="http://127.0.0.1/magento2/media/wysiwyg/infortis/ultimo/anhface.png"   /></div>
            </div>
            </div>
        <!-- related product -->
      
        <?php echo $this->getChildHtml('info_tabs') ?>


    </div> <!-- end: box-tabs -->

    <?php //Lower secondary column ?>

    <?php if (isset($p['lowerSecCol_2'])): ?>
        <div class="box-additional box-sidebar custom-sidebar-right <?php echo $grid['lowerSecCol']; ?>">
            <div class="inner"><?php echo $p['lowerSecCol_2']; ?></div>
        </div>

        
    <?php endif; ?>
   
</div> <!-- end: product-view -->

<script language="javascript">
          function change3()
          {

             var object = document.getElementById("qty2");
               object.value = parseInt(object.value)+10;
            }
              function change4()
          {
             var object = document.getElementById("qty2");
             var type = object.value;
             if(type>10)
             {  object.value = parseInt(object.value)-10;}
             else
                {  object.value = 10;}

            }
           
          
        </script>