<?php
/**
 * Related products slider (thumbnails)
 */
?>
<?php if($_collectionSize = $this->getItems()->getSize()): ?>
<?php
    $_productCollection = $this->getItems();
    $theme = $this->helper('ultimo');
    $helpImg = $this->helper('infortis/image');
    $productCountInSlide = intval($theme->getCfg('product_page/related_count')); //Number of products displayed in a single slide

    //Default image size
    $imgWidth = 100;
    $imgHeight = 100;
    
        //Image aspect ratio
?>
<div class="block block-related block-related-thumbnails">
 
    
    <?php foreach ($_productCollection as $_item): 
        ?>      
                    <div class="clearer">
<div class="product">
<a href="<?php echo $_item->getProductUrl(); ?>">
<img src="<?php echo $helpImg->getImg($_item, $imgWidth, $imgHeight, 'thumbnail'); ?>"
width="110" height="110" alt="1"/>    </a>
<div class="product-details">
<a title="<?php echo $_item->getName(); ?>"href="
<?php echo  $_item->getProductUrl(); ?>">
<?php echo $_item->getName(); ?></a><div class="price-box">
<?php echo '€'.number_format($_item->getPrice(),2); ?></div><p>(incl. VAT)</p>
                    
    <div class="btn">
     <?php if(!$_item->isGrouped()): ?>
            <div class="qty-wrapper2">
                <button type="button" id="btn5"  ><span><span>-</span></span></button>
                <input type="text" name="qty2" id="qty2" maxlength="12" value="<?php echo $this->getProductDefaultQty() * 10?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Qty')) ?>" class="input-text qty" ></input>
                 <button type="button" id="btn4"  ><span><span>+</span></span></button>
                  <?php echo $this->getqty()?>
            </div>
            <p id="demo"></p>
        <?php endif; ?>
                         <a href="<?php echo $_item->getProductUrl() ?>">

<button title="ADD" type="button"><span><span>ADD</span></span></button>
</a></div>
     </div> <!-- end: product-details -->
        </div>
        <?php endforeach; ?>
</div>
   <?php if ($theme->getCfg('magento_blocks/related_products_checkbox')): ?>
        <p class="block-subtitle"><?php echo $this->__('Check items to add to the cart or') ?>&nbsp;<a href="#" onclick="selectAllRelated(this); return false;"><?php echo $this->__('select all') ?></a></p>
        <script type="text/javascript">
        //<![CDATA[
            $$('.related-checkbox').each(function(elem){
                Event.observe(elem, 'click', addRelatedToProduct)
            });
        
            var relatedProductsCheckFlag = false;
            function selectAllRelated(txt){
                if (relatedProductsCheckFlag == false) {
                    $$('.related-checkbox').each(function(elem){
                        elem.checked = true;
                    });
                    relatedProductsCheckFlag = true;
                    txt.innerHTML="<?php echo Mage::helper('core')->jsQuoteEscape($this->__('unselect all')) ?>";
                } else {
                    $$('.related-checkbox').each(function(elem){
                        elem.checked = false;
                    });
                    relatedProductsCheckFlag = false;
                    txt.innerHTML="<?php echo Mage::helper('core')->jsQuoteEscape($this->__('select all')) ?>";
                }
                addRelatedToProduct();
            }
        
            function addRelatedToProduct(){
                var checkboxes = $$('.related-checkbox');
                var values = [];
                for(var i=0;i<checkboxes.length;i++){
                    if(checkboxes[i].checked) values.push(checkboxes[i].value);
                }
                if($('related-products-field')){
                    $('related-products-field').value = values.join(',');
                }
            }
        //]]>
        </script>
    <?php endif; ?>
    
</div> <!-- end: block -->
<?php endif; ?>